.player {
    background-color: blue;
    width: 10px;
    height: 10px;
    display: block;
    margin: 7px;

    &__shaking {
        transform: translate3d(0, 0, 0);
        &-vertically {
            animation: shake-v 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        }
        &-horizontally {
            animation: shake-h 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        }
    }
}