@import '../../utilities/variables.scss';

.maze {
    display: table;
    border: $wall-border;

    &:focus {
        outline-width: 0;
    }

    &_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        backdrop-filter: blur(3px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.maze-row {
    display: table-row;
}